<form action="{{ path('admin.models.delete', {id: model.id}) }}" method="post">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ model.id) }}">
	<button class="btn" type="submit">Supprimer</button>
</form>
