<form action="{{ path('admin.users.delete', {id: user.id}) }}" method="post">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ user.id) }}">
	<button type="submit">Supprimer</button>
</form>
