{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<section>
		<h1>Inscription</h1>
		{{ form_start(form, {attr:{class: 'card p-3 w-75 mx-auto'}}) }}
		{{ form_widget(form) }}
		<button type="submit">S'inscrire</button>
		{{ form_end(form) }}
	</section>
{% endblock %}
