html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

header {
  background-color: $lightColor;
}

main {
  text-align: center;
  padding: 1rem 4rem;
}

img,
figure,
video {
  max-width: 100%;
  object-fit: cover;
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 540px;
}
