<form action="{{ path('admin.marques.delete', {id: marque.id}) }}" method="post">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ marque.id) }}">
	<button type="submit">Supprimer</button>
</form>
