{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un marque
{% endblock %}

{% block body %}
	<section>
		<h1>Modification d'un marque</h1>
		{% include 'Backend/Marque/_editForm.html.twig' %}
		<a href="{{ path('admin.marques.index') }}">Retour à la liste des marques</a>
	</section>
{% endblock %}
