{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un marque
{% endblock %}

{% block body %}
	<section class="form">
		<div class="container-form">
			<h1>Modification d'un marque</h1>
			{% include 'Backend/Marque/_editForm.html.twig' %}
			<a href="{{ path('admin.marques.index') }}">Retour à la liste des marques</a>
		</div>
	</section>
{% endblock %}
