<form action="{{ path('admin.taxe.delete', {id: taxe.id}) }}" method="post">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ taxe.id) }}">
	<button class="btn" type="submit">Supprimer</button>
</form>
