{% extends 'base.html.twig' %}

{% block title %}
	Création d'une taxe
{% endblock %}

{% block body %}
	<section class="form">
		<div class="container-form">
			<h1>Création d'une taxe</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn" type="submit">Ajouter une taxe</button>
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
