<form action="{{ path('admin.products.delete', {id: product.id}) }}" method="post">
	<input type="hidden" name="token" value="{{ csrf_token('delete' ~ product.id) }}">
	<button type="submit">Supprimer</button>
</form>
