{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un produit
{% endblock %}

{% block body %}
	<section class="form">
		<div class="container-form">
			<h1>Modification d'un produit</h1>
			{% include 'Backend/Product/_editForm.html.twig' %}
			<a href="{{ path('admin.products.index') }}">Retour à la liste des produits</a>
		</div>
	</section>
{% endblock %}
