<footer class="footer">
	<div class="footer__section">
		<h4>Nous contacter</h4>
		<div>
			<i class="bi bi-envelope"></i>
			<p>Portail de contact notre équipe s’engage à vousrépondre en 24 à 48h ouvrées.</p>
		</div>
	</div>

	<div class="footer__section">
		<h4>A propos de Wethenew</h4>
		<p>Wethenew a pour mission de donner la possibilité à tous les amateurs, les passionnés et les curieux de sneakers et streetwear d’acheter les produits limités qui leur plaisent en toute confiance.</p>
	</div>

	<ul class="footer__section">
		<h4>En savoir plus</h4>
		<li>
			<a href="#">Notre concept</a>
		</li>
		<li>
			<a href="#">Conditions de nos offres</a>
		</li>
		<li>
			<a href="#">Wethenew Galleries Lafayette</a>
		</li>
	</ul>

	<ul class="footer__section">
		<h4>Nos services</h4>
		<li>
			<a href="#">E-carte cadeau</a>
		</li>
		<li>
			<a href="#">FAQ</a>
		</li>
		<li>
			<a href="#">Programme Wethenew family</a>
		</li>
		<li>
			<a href="#">Vendez votre produit</a>
		</li>
		<li>
			<a href="#">Envoi et livraison</a>
		</li>
	</ul>

	<ul class="footer__section">
		<h4>Nos collections</h4>
		<li>
			<a href="#">Sneakers Femme</a>
		</li>
		<li>
			<a href="#">Sneakers Homme</a>
		</li>
		<li>
			<a href="#">Sneakers Eco-responsable</a>
		</li>
		<li>
			<a href="#">Moins de 200€</a>
		</li>
	</ul>

	<div class="footer__section">
		<h4>Retrouver nous sur</h4>

		<ul class="icons">
			<li>
				<a href="#">
					<i class="bi bi-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-tiktok"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-twitter-x"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-facebook"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="bi bi-pinterest"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>
